<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ /index.html [NC, L]
  RewriteRule ^static/(.*)$ /static/$1 [NC, L]
  RewriteRule ^((?!index\.php).*)$  /index.php?a=$1 [L]
</IfModule>