<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_URI} !^/$
  RewriteCond %{REQUEST_URI} !^/index.html$
  RewriteCond %{REQUEST_URI} !^/index.php$
  RewriteCond %{REQUEST_URI} !^/static/(.*)$
  RewriteRule ^(.*)$ index.php?a=$1 [QSA,L]
</IfModule>